/* Open Sans */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/fonts/Open_Sans/opensanslight.woff2") format("woff2"), url("/fonts/Open_Sans/opensanslight.woff") format("woff"), url("/fonts/Open_Sans/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("/fonts/Open_Sans/opensanslightitalic.woff2") format("woff2"), url("/fonts/Open_Sans/opensanslightitalic.woff") format("woff"), url("/fonts/Open_Sans/opensanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("/fonts/Open_Sans/opensans.woff2") format("woff2"), url("/fonts/Open_Sans/opensans.woff") format("woff"), url("/fonts/Open_Sans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/fonts/Open_Sans/opensansitalic.woff2") format("woff2"), url("/fonts/Open_Sans/opensansitalic.woff") format("woff"), url("/fonts/Open_Sans/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("/fonts/Open_Sans/opensanssemibold.woff2") format("woff2"), url("/fonts/Open_Sans/opensanssemibold.woff") format("woff"), url("/fonts/Open_Sans/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("/fonts/Open_Sans/opensanssemibolditalic.woff2") format("woff2"), url("/fonts/Open_Sans/opensanssemibolditalic.woff") format("woff"), url("/fonts/Open_Sans/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/fonts/Open_Sans/opensansbold.woff2") format("woff2"), url("/fonts/Open_Sans/opensansbold.woff") format("woff"), url("/fonts/Open_Sans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/fonts/Open_Sans/opensansbolditalic.woff2") format("woff2"), url("/fonts/Open_Sans/opensansbolditalic.woff") format("woff"), url("/fonts/Open_Sans/opensansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("/fonts/Open_Sans/opensansextrabold.woff2") format("woff2"), url("/fonts/Open_Sans/opensansextrabold.woff") format("woff"), url("/fonts/Open_Sans/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("/fonts/Open_Sans/opensansextrabolditalic.woff2") format("woff2"), url("/fonts/Open_Sans/opensansextrabolditalic.woff") format("woff"), url("/fonts/Open_Sans/opensansextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
/* PT Sans */
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PT Sans Regular"), url("/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Italic"), url("/fonts/PT_Sans/PTSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), url("/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold Italic"), url("/fonts/PT_Sans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/* Russo One */
@font-face {
  font-family: "Russo One";
  src: local("RussoOne"), local("Russo One Regular"), url("/fonts/Russo_One/RussoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=fonts.css.map */